@import "tailwindcss";


/* Importamos la fuente 'Inter' de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-primary: #2563eb; /* El azul eléctrico del diseño */
  --color-primary-hover: #1d4ed8;
  --color-dark-bg: #0f172a; /* Azul noche profundo (Slate 900) */
  --color-card-bg: #1e293b; /* Un poco más claro para las tarjetas */
}

/* Aplicamos el fondo oscuro a toda la página por defecto */
body {
  background-color: var(--color-dark-bg);
  color: #f8fafc; /* Texto casi blanco */
  font-family: var(--font-sans);
}